:root {
    --color-blue:#103977;
    --color-red: #b80707e4;
    --color-yellow: #eac05ebb;
    --color-green: #407950bb;
    --color-grey: #f3f3f3;
    --color-dark-grey: #8a8a8a;
    --color-navigation: #5a5a5a;
    --foundation: #eac05ebb;
    --intermediate: #407950bb;
    --advanced: #1A6F8Ebb;
    --color-white: #ffffffe0;
    --color-light-black: #333333; /* Light black */;
    --color-black: #000000; /* Dark black */;
}

/* NAVIGATION */
.img-brand {
    width:75px;
}

.navbar-nav {
    gap: 0.75rem;
}
.nav-link {
    text-transform: uppercase;
    color: var(--color-navigation) !important;
}

.nav-link.active {
    color: var(--color-blue) !important;
    text-decoration: underline;
}


/* CI */
.bg-grey {
    background-color: var(--color-grey) !important;
}
.bg-dark-grey {
    background-color: var(--color-dark-grey) !important;
}
.bg-blue {
    background-color: var(--color-blue) !important;
}
.color-white {
    color: white !important;
}
.bg-foundation {
    background-color: var(--foundation);
}
.bg-intermediate {
    background-color: var(--intermediate);
}
.bg-advanced {
  background-color: var(--advanced);
}

/* BUTTONS */
.btn-warrior {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
/* Blue */
.btn-warrior-color-blue {
    background-color: var(--color-blue) !important;
    color: white;
}
.btn-warrior-color-blue:hover {
    background-color: white !important;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    text-decoration: none;
}
/* Yellow */
.btn-warrior-color-yellow {
    background-color: var(--color-yellow) !important;
    color: white;
}
.btn-warrior-color-yellow:hover {
    background-color: white !important;
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    text-decoration: none;
}
/* Red */
.btn-warrior-color-red {
    background-color: var(--color-red) !important;
    color: white;
}
.btn-warrior-color-red:hover {
    background-color: white !important;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    text-decoration: none;
}
/* Green */ 
.btn-warrior-color-green {
    background-color: var(--color-green) !important;
    color: white;
}
.btn-warrior-color-green:hover {
    background-color: white !important;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    text-decoration: none;
}
.btn-warrior-color-grey {
    background-color: var(--color-dark-grey) !important;
    border: 1px solid var(--color-grey);
    color: white;
}
.btn-warrior-color-grey:hover {
    background-color: white !important;
    color: var(--color-dark-grey);
    border: 1px solid var(--color-grey);
    text-decoration: none;
}
/* TYPOGRAPHY */
body {
    font-size: 1.25rem; /* 20px */
    font-weight: 300;
    font-family: 'Roboto';
}

.title-1 {
    font-size: 3.5rem !important;
    line-height: 3.5rem !important;
    font-weight: 400 !important;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .title-1 {
        font-size: 2.5rem !important;
    }
}
@media (max-width:576px) {
    .title-1 {
        font-size: 1.5rem !important;
    }
}


.title-2 {
    font-size: 1.75rem !important;	
    line-height: 1.75rem !important;
    font-weight: 500 !important;
    color: #103977 !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

.title-3 {
    font-size: 1.5rem !important;	
    line-height: 1.5rem !important;
    font-weight: 500 !important;
    color: #6b6b6b !important;
    text-transform: uppercase;
    text-decoration: none !important;
}

/* FOOTER */
.footer i {
    font-size: 50px !important;
}

.footer .youtube {
    color: #FF0000;
}

.footer .facebook {
    color: #135dbd;
}

.footer .envelope {
    color: #16a4e1;
}

/* CONTAINER */ 
.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* HERO */
.hero-image {
    width:100%;
    max-height: 500px;
    object-fit:cover;
}


/* CARDS */
.card {
    min-height: 100% !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
  
.card-img-top {
    width: 100%;
    min-height: 222px;
    max-height: 222px;
    object-fit: cover;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.course-level {
    position: absolute;
    top: 25px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    color:white;
}

.card-title {
    color: #103977 !important;
    font-size: 25px !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    margin-bottom: 0px !important;
  }

.card-title-link {
    text-decoration: none !important;
}

.card-footer {
    border-top:none;
    background-color: white !important;
}


/* COURSE DETAIL - VIDEO DISPLAY */
/* Responsive video container */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* COURSE FORM */
.form {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
}

/* LESSON DETAIL */ 
.back-to-course-navbar {
    display: flex;
    justify-content: end;
    background: var(--color-dark-grey);
    padding-block: 0.5rem;
}
.back-to-course-navbar a {
    color: white;
    font-weight: 700;
    margin-right: 0.75rem;
}


/* DESIGN ELEMENTS */
.hr-warrior {
    border-top: 1px solid var(--color-dark-grey);
    width:80%;
    margin:2rem auto !important;
}

.li-yellow li{
    margin: 0;
    padding: 10px 0 0 60px;
    list-style: none;
    background-image: url('/static/images/li-beginner.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

.li-green li{
    margin: 0;
    padding: 10px 0 0 60px;
    list-style: none;
    background-image: url('/static/images/li-intermediate.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}

.li-blue li{
    margin: 0;
    padding: 10px 0 0 60px;
    list-style: none;
    background-image: url('/static/images/li-advanced.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
}


/* CUSTOM CARD HEADER */
.card-header-color-foundation {
    background-color: var(--foundation) !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.card-header-color-intermediate {
    background-color: var(--intermediate) !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.card-header-color-advanced {
    background-color: var(--advanced) !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

/* ACCESS DENEIED */
.access-denied-container {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.1);
}
.access-denied-container h1 {
    font-size: 3rem;
    color: var(--color-red);
}

/* LOGIN, SIGN UP */
.form-fields-container {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.1);
}
.form-fields-container h1 {
    font-size: 3rem;
    color: var(--color-blue);
}

/* COURSE OVERVIEW */
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 3rem;
}

@media (max-width:576px) {
    .pagination {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.pagination .current {
    margin-inline: 2rem;
    font-size: 1.5rem;
}

/* COURSE DETAILS */
.course-banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.course-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.lesson-title-container {
    padding-inline: 5%;
    text-align: center;
}
.lesson-content-container {
    padding-inline: 15%;
    min-height: 25vh;
}
.lesson-banner {
    width: 100%;
    height: auto;
}


/* HOMEPAGE - SERVICES */
.service-icon {
    font-size: 50px;
    color: var(--color-blue);
}

.service-icon {
    width: 200px;
    margin-top: -20px;
}

/* BORDERS / SHADOWS */
.box-shadow-1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* COURSE CURRICULUM */
.border-radius-top {
    border-top: 1px solid var(--color-dark-grey);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.border-radius-bottom {
    border-bottom: 1px solid var(--color-dark-grey);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lesson-link {
    margin-left: 0.5rem;
    text-decoration: none;
    color: var(--color-light-black);
}

.lesson-link:hover {
    margin-left: 0.5rem;
    text-decoration: underline;
    color: var(--color-black);
}

.padding-left-1_5 {
    padding-left: 1.5rem;
}

.padding-right-1_5 {
    padding-right: 1.5rem;
}

/* MESSAGES */
.message-box {
    border-top: 1px solid var(--color-green) !important;
    border-bottom: 1px solid var(--color-green) !important;
    border-radius: 15px !important;  
    text-align: center;
    margin-block: 1rem;
}

/* CONTACT FORM */
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-send-btn {
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* errorlist for contact form */ 
.errorlist {
    color: var(--color-red) !important;
}

#id_name {
    width: 75%;
}

#id_email {
    width: 75%;
}

#id_subject {
    width: 75%;
}

#signup_form {
    display:flex;
    flex-direction: column;
}

#signup_form input {
    width:100%;
}

#signup_form button {
    width: 33%;
    text-align: center;
}