{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Content starts here -->
<!-- Display 'Add New Course' button only for superuser -->
{% if user.is_superuser %}
<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'course_add' %}" class="btn-warrior btn-warrior-color-green">
                <i class="fas fa-plus"></i> new course
            </a>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">

    <!-- Course overview title -->
    <h1>COURSE OVERVIEW</h1>

    <div class="row">
        <!-- Loop through each course in the course list -->
        {% for course in course_list %}
        <div class="col-xs-12 col-sm-6 col-md-3 mt-3 mb-3">
            <div class="card border-style-1">
                <!-- Course link and featured image -->
                <a href='{{ course.slug }}'>
                    {% if "placeholder" in course.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default-course-image.jpg' %}" alt="{{ course.title }} Banner">
                    {% else %}
                        <img class="card-img-top" src="{{ course.featured_image.url }}" alt="{{ course.title }}">
                    {% endif %}
                </a>
                <!-- Display course level with corresponding background color -->
                {% if course.get_level_display == "Foundation" %}
                    <div class='course-level bg-foundation'>{{ course.get_level_display }}</div>
                {% elif course.get_level_display == "Intermediate" %}
                    <div class='course-level bg-intermediate'>{{ course.get_level_display }}</div>
                {% else %}
                    <div class='course-level bg-advanced'>{{ course.get_level_display }}</div>
                {% endif %}
                <div class='card-header'>
                    <a href='{{ course.slug }}' class='card-title-link'>
                        <h2 class='card-title'>{{ course.title }}</h2>
                    </a>
                </div>
                <div class='card-body'>
                    <p class='card-text'>{{ course.description }}</p>
                </div>
                <div class='card-footer'>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <!-- 'Let's Go' button to start the course -->
                            <a href='{{ course.slug }}' class='btn-warrior btn-warrior-color-blue'>let's go</a>
                            <!-- Superuser options: Edit and Delete buttons -->
                            {% if user.is_superuser %}
                                <div class="ml-1">
                                    <!-- Edit Course -->
                                    <a href='edit_course/{{ course.id }}' class='btn-warrior btn-warrior-color-yellow ml-1 btn-edit' course_id="{{ course.id }}" title="Edit Course">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <!-- Delete Course -->
                                    <button class="btn-warrior btn-warrior-color-red btn-delete-course" title="Delete Course" course_id="{{ course.id }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete course?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your course? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteCourseConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Content ends here -->
{% endblock content %}

{% block extras %}
    <!-- Include the course.js script -->
    <script src="{% static 'js/course.js' %}"></script>
{% endblock %}
