{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container-fluid no-padding">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Course Title -->
                <h1 class="title">{{ course.title }}</h1>
                <!-- Course Content -->
                <p> {{ course.description }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default-course-image.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- using the | safe keyword the content will be rendered as html properly -->
    {{ course.content | safe }}
</div>

{% endblock content %}