{% extends "base.html" %}
{% load static %}

{% block content %}


<!-- content starts here -->
{% if user.is_superuser %}
<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'course_add' %}" class="btn-warrior btn-warrior-color-green"><i class="fas fa-plus"></i> new course</a>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">

    <h2>COURSE OVERVIEW</h2>

    <div class="row">
        {% for course in course_list %}
        <div class="col-xs-12 col-sm-6 col-md-3 mt-3 mb-3">
            <div class="card border-style-1">
                <a href='{{ course.slug }}'>
                    {% if "placeholder" in course.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default-course-image.jpg' %}" alt="placeholder image">
                    {% else %}
                        <img class="card-img-top" src=" {{ course.featured_image.url }}" alt="{{ course.title }}">
                    {% endif %}
                </a>
                {% if course.get_level_display == "Foundation" %}
                    <div class='course-level bg-foundation'>{{ course.get_level_display }}</div>
                {% elif course.get_level_display == "Intermediate" %}
                    <div class='course-level bg-intermediate'>{{ course.get_level_display }}</div>
                {% else %}
                    <div class='course-level bg-advanced'>{{ course.get_level_display }}</div>
                {% endif %}
                <div class='card-header'>
                    <a href='{{ course.slug }}' class='card-title-link'><h3 class='card-title'>{{ course.title }}</h3></a>
                </div>
                <div class='card-body'>
                    <p class='card-text'>{{ course.description }}</p>
                </div>
                <div class='card-footer'>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <a href='{{ course.slug }}' class='btn-warrior btn-warrior-color-blue'>let's go</a>
                            {% if user.is_superuser%}
                                <div class="ml-1">
                                    <!-- EDIT COURSE -->
                                    <a href='edit_course/{{ course.id }}' class='btn-warrior btn-warrior-color-yellow ml-1 btn-edit' course_id="{{ course.id }}"><i class="fas fa-edit"></i></a>
                                    <!-- DELETE COURSE -->
                                    <button class="btn-warrior btn-warrior-color-red btn-delete" course_id="{{ course.id }}"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title"
            id="deleteModalLabel">Delete course?</h5>
        <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete your course?
        This action cannot be undone.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
            btn-danger">Delete</a>
        </div>
    </div>
    </div>
    </div>

</div>
<!-- index.html content ends here -->
{% endblock content %}

{% block extras %}
    <script src="{% static 'js/course.js' %}"></script>
{% endblock %}