{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <h1 class="title-1">EDIT COURSE with ID {{ course.id }} </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <form id="courseEditForm" method="post" class="form">
                {{ course_edit_form | crispy }}
                {% csrf_token %} <!-- CSRF_ALLOWED_HOSTS -->
                <button id="submitButton" type="submit"
                class="btn-warrior btn-warrior-color-green">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}