{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <!-- Header row with title -->
    <div class="row text-center mt-5">
        <div class="col-md-12">
            <h1 class="title-1">ADD NEW LESSON</h1>
        </div>
    </div>
    
    <!-- Form row for adding a new lesson -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <!-- Lesson form with CSRF protection -->
            <form id="lessonForm" method="post" class="form">
                <!-- Render the lesson form using crispy forms for better styling -->
                {{ lesson_form | crispy }}
                <!-- CSRF token for security -->
                {% csrf_token %}
                <!-- Submit button -->
                <button id="submitButton" type="submit" class="btn-warrior btn-warrior-color-green">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
