:root {
    --color-blue: #103977;
    --color-red: #de0a0abb;
    --color-yellow: #eac05ebb;
    --color-green: #407950bb;
    --color-grey: #f3f3f3;
    --color-dark-grey: #59605f;
    --foundation: #eac05ebb;
    --intermediate: #407950bb;
    --advanced: #1A6F8Ebb;
    --color-white: #ffffffe0;
}

/* NAVIGATION */
.img-brand {
    width:75px;
}

.navbar-nav {
    gap: 0.75rem;
}
.nav-link {
    text-transform: uppercase;
    color: var(--color-dark-grey) !important;
}

.nav-link.active {
    color: var(--color-blue) !important;
    text-decoration: underline;
}


/* CI */
.bg-grey {
    background-color: var(--color-grey) !important;
}
.bg-dark-grey {
    background-color: var(--color-dark-grey) !important;
}
.bg-blue {
    background-color: var(--color-blue) !important;
}
.color-white {
    color: white !important;
}
.bg-foundation {
    background-color: var(--foundation);
}
.bg-intermediate {
    background-color: var(--intermediate);
}
.bg-advanced {
  background-color: var(--advanced);
}

/* BUTTONS */
.btn-warrior {
    display: inline-block;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
/* Blue */
.btn-warrior-color-blue {
    background-color: var(--color-blue) !important;
    color: white;
}
.btn-warrior-color-blue:hover {
    background-color: white !important;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    text-decoration: none;
}
/* Yellow */
.btn-warrior-color-yellow {
    background-color: var(--color-yellow) !important;
    color: white;
}
.btn-warrior-color-yellow:hover {
    background-color: white !important;
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    text-decoration: none;
}
/* Red */
.btn-warrior-color-red {
    background-color: var(--color-red) !important;
    color: white;
}
.btn-warrior-color-red:hover {
    background-color: white !important;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    text-decoration: none;
}
/* Green */ 
.btn-warrior-color-green {
    background-color: var(--color-green) !important;
    color: white;
}
.btn-warrior-color-green:hover {
    background-color: white !important;
    color: var(--color-green);
    border: 1px solid var(--color-green);
    text-decoration: none;
}
/* TYPOGRAPHY */
body {
    font-size: 1.25rem; /* 20px */
    font-weight: 300;
}

.title-1 {
    font-size: 3.5rem !important;
    line-height: 3.5rem !important;
    font-weight: 400 !important;
    margin-bottom: 2rem;
}

.title-2 {
    font-size: 2rem !important;	
    line-height: 2rem !important;
    font-weight: 500 !important;
    color: #103977 !important;
    text-decoration: none !important;
}

.title-3 {
    font-size: 1.5rem !important;	
    line-height: 1.5rem !important;
    font-weight: 500 !important;
    color: #6b6b6b !important;
    text-transform: uppercase;
    text-decoration: underline;
}

/* FOOTER */
.footer i {
    font-size: 50px !important;
}

.footer .youtube {
    color: #FF0000;
}

.footer .facebook {
    color: #135dbd;
}

.footer .envelope {
    color: #16a4e1;
}

/* CONTAINER */ 
.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* HERO */
.hero-image {
    width:100%;
    max-height: 500px;
    object-fit:cover;
}


/* COURSE OVERVIEW */
.card {
    min-height: 100% !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
  
.card-img-top {
    width: 100%;
    min-height: 222px;
    max-height: 222px;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.course-level {
    position: absolute;
    top: 25px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 16px;
    font-weight: 500;
    color:white;
}

.card-title {
    color: #103977 !important;
    font-size: 25px !important;
    font-family: inherit !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    margin-bottom: 0px !important;
  }

.card-title-link {
    text-decoration: none !important;
}

.card-footer {
    border-top:none;
    background-color: white !important;
}


/* COURSE DETAIL */ 
.masthead {
    padding-left: 0px !important;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--color-blue);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--color-blue);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* COURSE DETAIL - VIDEO DISPLAY */
.video-container {
    width: 100%;
    margin: 0 auto;
}

.video-row {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width:100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    border-radius: 5px;
  }

.video-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width:100%;
    height: 100%;
}

/* COURSE FORM */
.form {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
}