{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Block for main content -->
<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-6">
        <div class="access-denied-container">
            <h1>500</h1>
            <p>Internal Server Error</p>
            <a href="/" class="btn-warrior btn-warrior-color-red mt-4">Go to Homepage</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
    <script src="{% static 'js/course.js' %}"></script>
{% endblock %}